  body {
    background: url("bg.jpg");
    background-size: cover;
    background-position center;
    font-family: verdana;
    text-align: center;
  }
  p {
    color: white;
    font-size: 22px;
  }
  h1 {
    color: white;
    font-size: 15px;
  }
  input[define="box"] {
    padding: 5px;
    border: 0;
    color: brown;
    background: beige;
  }
  input[define="loggedin"] {
    padding: 10px;
    font-size: 18px;
    border: 0;
    color: white;
    background: darkgreen;
  }
  input[define="login"] {
    padding: 10px;
    font-size: 18px;
    border: 0;
    color: white;
    background: brown;
  }
